---
layout: tableau
---
<!DOCTYPE html>
<script type="text/javascript" async 
src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?
config=TeX-AMS-MML_HTMLorMML"></script>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
      </div>
        <script type="module"
        src="https://public.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js">
        </script>
        <tableau-viz id="tableauViz"
          src='https://public.tableau.com/views/RelationshipDirectory/RelationshipDirectory'
          toolbar="bottom" hide-tabs>
        </tableau-viz>
      </div>
    </main>
  
    {%- include footer.html -%}

  </body>

</html>